@model WeeklyGamingBASIC.Models.Game

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.strGameName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strGameName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Game_Providers.strProviderName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Game_Providers.strProviderName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.intGameID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
